<md-content
	mb-preloading="ctrl.working"
	flex>
	<!-- New user  -->
	<mb-titled-block 
		mb-title="New user"
		mb-progress="ctrl.working">
	 	<form 
	 		name="ctrl.myForm" 
		 	layout="column" 
			ng-submit="addUser(model, ctrl.myForm)">
		    <input hide type="submit" />
		    <div style="text-align: center;"
				layout-margin
				ng-show="!ctrl.working && errorMessage"> 
				<p><span md-colors="{color:'warn'}" translate>{{errorMessage}}</span></p>
			</div>
			<div 
				layout="column" 
				layout-padding>
			  <md-input-container>
			    <label translate>Username</label>
			    <input 
			    	name="login" 
			    	ng-model="model.login" 
			    	type="text" required>
			    <div ng-messages="ctrl.myForm.login.$error" md-auto-hide="false">
					<div ng-message="required" translate>This field is required.</div>
					<div ng-message="unique" translate>Username is used before.</div>
					<div ng-message="minlength" translate>Username is too short.</div>
				</div>
			  </md-input-container>
			  <md-input-container>
			    <label translate>Email</label>
			    <input name="email" ng-model="model.email" type="email" required>
			    <div ng-messages="ctrl.myForm.email.$error" md-auto-hide="false">
					<div ng-message="required" translate>This field is required.</div>
					<div ng-message="notnull" translate>This field is required.</div>
					<div ng-message="email" translate>Email is not valid.</div>
				</div>
			  </md-input-container>
			  <md-input-container>
			    <label translate>Password</label>
			    <input 
			    	name="password" 
			    	ng-model="model.password" 
			    	type="password" 
			    	required>
			    <div 
			    	ng-messages="ctrl.myForm.password.$error" 
			    	md-auto-hide="false">
					<div ng-message="required" translate>This field is required.</div>
					<div ng-message="minlength" translate>Password is too short.</div>
				</div>
			  </md-input-container>
			</div>
			
			<div layout="row">
				<span flex></span>
				<md-button 
					class="md-raised"
					ng-click="cancel()">
<!-- 					<wb-icon>close</wb-icon> -->
					<span translate>Cancel</span>
				</md-button>
				<md-button 
					class="md-raised md-primary"
					ng-click="addUser(model, ctrl.myForm)">
<!-- 					<wb-icon>done</wb-icon> -->
					<span translate>Add</span>
				</md-button>
			</div>
		</form>
	</mb-titled-block>
</md-content>
