<md-content 
	class="md-padding"
	layout-padding
	flex>
	<section 
		mb-preloading="ctrl.groupLoading"
		layout="column" 
		md-whiteframe="1"
		layout-margin>
		<div layout="column"
			layout-padding>
			<div 
				layout="column" 
				layout-align="center start">
				<table
					class="amd-table amd-table-description">
					<tr>
						<td translate>ID</td>
						<td>{{group.id}}</td>
					</tr>
					<tr>
						<td translate>Name</td>
						<td>
							<mb-inline
								ng-model="group.name"
								mb-inline-type="text"
								mb-inline-label="Group name"
								mb-inline-enable="app.user.tenant_owner"
								mb-inline-on-save="save()">
									{{group.name || '...'}}
							</mb-inline>
						</td>
					</tr>
					<tr>
						<td translate>Description</td>
						<td>
							<mb-inline
								ng-model="group.description"
								mb-inline-type="text"
								mb-inline-label="Group description"
								mb-inline-enable="app.user.tenant_owner"
								mb-inline-on-save="save()">
									{{group.description || '...'}}
							</mb-inline>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div
			layout="column" 
			layout-gt-sm="row">
			<span flex></span>
			<md-button 
				class="md-raised md-accent" 
				ng-click="remove()">
				<wb-icon>delete</wb-icon>
				<span translate>Delete</span>
			</md-button>
		</div>
	</section>

	<section 
		mb-preloading="ctrl.roleLoading"
		layout="column" 
		md-whiteframe="1"
		layout-margin>
		<h3 translate>Roles</h3>
		<md-chips 
			ng-model="roles.items"
			md-on-remove="removeRole($chip)">
			<md-chip-template>
				<strong>{{$chip.name}}</strong>
			</md-chip-template>
		</md-chips>
		<div 
			ng-show="!roles.items || roles.items.length == 0"
			layout="column" 
			layout-align="center center">
			<p translate>Group has no role.</p>
		</div>
		<div layout="row">
			<span flex></span>
			<md-button class="md-raised"
				ng-click="changeRoles()">
				<wb-icon>edit</wb-icon>
				<span translate>Edit</span>
			</md-button>
		</div>
	</section>
	
	<section 
		mb-preloading="ctrl.userLoading"
		layout="column" 
		md-whiteframe="1"
		layout-margin>
		<h3 translate>Users</h3>
		<md-chips 
			ng-model="users.items"
			md-on-remove="removeUser($chip)">
			<md-chip-template>
				<strong>{{$chip.login}}</strong>
			</md-chip-template>
		</md-chips>
		<div 
			ng-show="!users.items || users.items.length == 0"
			layout="column" 
			layout-align="center center">
			<p translate>Group has no any member.</p>
		</div>
		<div layout="row">
			<span flex></span>
			<md-button class="md-raised"
				ng-click="changeUsers()">
				<wb-icon>edit</wb-icon>
				<span translate>Edit</span>
			</md-button>
		</div>
	</section>
</md-content>

