<md-content
	mb-infinate-scroll="nextPage()"
	layout="column"
	mb-preloading="ctrl.working"
	flex>
	
	<mb-pagination-bar
		mb-model="paginatorParameter"
		mb-reload="reload"
		mb-sort-keys="sortKeys"
		mb-more-actions="moreActions">
	</mb-pagination-bar>
	
	<md-list-item 
		ng-repeat="role in ctrl.items" 
		ng-href="{{'role/'+role.id}}"
		class="noright">
		<wb-icon>mood</wb-icon>
		<p>{{ role.name }} ({{role.description}})</p>
		<wb-icon 
			class="md-secondary" 
			ng-click="remove(role)" 
			aria-label="remove">delete</wb-icon>
	</md-list-item>
	
	
	<div
		layout="column"
		layout-align="center center"
		ng-show="!ctrl.items || ctrl.items.length == 0">
		<h2>Empty roles list</h2>
		<p>Roles give permissions to user, group or other object to do something.
			Use the following actions to add a new role.</p>
		<md-button
			ng-click="add()">
			<wb-icon>add</wb-icon>
			<span translate>Add</span>
		</md-button>
	</div>
</md-content>
